/* Header styles */

/* Chnage display on spans so the headings appear vertically */

.daily-span, .date-span{
  display:block;
}

/* ArticleGallery section */
img{
  display:block;
  width:100%;
  object-fit:contain;
}
.wrapper{
  width:85%;
  max-width:1200px;
  margin:0 auto;
}

.article-list{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
}

.article-list li{
  display:flex;
  flex-direction:column;
  width:30%;

}

.image-container{
  max-height:200px;
}


